<div *ngFor="let user of users" >
  <div class="col-xs-6">
    <div class="profile-container text-center">
      <div class="profile-header row">
        <div class="col-md-12 col-sm-12 text-center">
          <app-webcam></app-webcam>
        </div>
        <div class="col-md-12 col-sm-12 profile-info">
          <div class="row">
            <div class="header-fullname">{{user.name}}</div>
          </div>
        </div>
        <div class="col-xs-12 profile-stats">
          <div class="row">
            <div class="stats-col">
              <div class="stats-value pink">{{user.wallet.karma}}</div>
              <div class="stats-title">KARMA</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
