
.profile-container .profile-header .profile-stats .inlinestats-col:not(:last-child) {
    border-right: 1px solid #eee;
}
.profile-container .profile-header .profile-stats .inlinestats-col {
    padding-top: 15px;
    text-align: center;
    font-family: 'Lucida Sans','trebuchet MS',Arial,Helvetica;
    border-top: 1px solid #eee;
}
.profile-container .profile-header .profile-stats .stats-col .stats-value {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans','trebuchet MS',Arial,Helvetica;
}
.pink {
    color: #e75b8d!important;
}
.profile-container .profile-header .profile-stats .stats-col:not(:last-child) {
    border-right: 1px solid #eee;
}
.profile-container .profile-header .profile-stats .stats-col {
    margin: 30px 0;
    text-align: center;
}

.btn-palegreen, .btn-palegreen:focus {
    background-color: #a0d468!important;
    border-color: #a0d468;
    color: #fff;
}
.profile-container .profile-header .profile-info .header-fullname {
    font: 21px 'Lucida Sans','trebuchet MS',Arial,Helvetica;
    display: inline-block;
}
.profile-container .profile-header .profile-info {
  border-right: 1px solid #eee;
}
.profile-container .profile-header .header-avatar {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-clip: padding-box;
    border: 5px solid #f5f5f5;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    margin: 25px auto;
}
.profile-container .profile-header {
    margin: 15px 15px 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.35);
    background-color: #fbfbfb;
}
